.container-destination{
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.container-buttons{
  display: flex;
  flex-direction: row;
  width: 20%;
}


.personalInfo-client{
  display: flex;
  flex-direction: column;
  grid-row: 1;
  grid-column: 1;
}

.clientInformation-client{
  padding: 2%;
  align-self: center;
  justify-self: center ;
  width: 60%;
  height: 80%;
  background-color: #FAF9F9;

  overflow: auto;
  border-radius: 10px;
}


.photo-client{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
}

.name-client{
  font-family: 'Rubik';
  color: #55B8A1;
  font-size: 20px;
}

.clientPreferences-client{
  width: 50%;
  height: 50%;
  background-color: #FAF9F9;


}

.tittleClientInfo-client{
  font-family: 'Rubik';
  color: #55B8A1;
  font-size: 30px;
}

.textClientInformation-client{

  margin-left: 5px;
  font-family: 'Rubik';
}

.preferenceInfo-client{
  display: flex;
  flex-direction: column;
  grid-row: 2;
}

.clientPreferences-client{
  align-self: center;
  justify-self: center ;
  width: 60%;
  height: 80%;
  background-color: #FAF9F9;
  display: flex;
  flex-direction: column;
  padding: 2%;

  overflow: auto;
  border-radius: 10px;
}
  

  
