.container-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
}

.content {
  margin-top: 10px; 
  margin-left: 240px; 
  background-color: #badfd7; 
  width: calc(100% - 240px);
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-home{
  position: fixed;
  bottom: 0;
  right: -10vw; 
  transform: translateY(30vh);
  width: 520px; 
  height: 520px; 
  background-color: #DA5A66;
  border-radius: 50%;
  z-index: 0;
}



.chartDiv{
  background-color: #FAF9F9;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  z-index: 1;
  padding: 2%;
}



.cardsDiv{
  background-color: #FAF9F9;
  border-radius: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  height: 100%;
  z-index: 1;
}

.cardDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.firstRowDiv{
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 80%;
}

.topRowItemDiv{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.statisticsDiv{
  background-color: #FAF9F9;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  z-index: 1;
  padding: 2%;
}

.title{
  font-family: 'Rubik';
  color: #42917e;
}

.bottomRowItemDiv{
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}