
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/background_login.jpg);
    background-size: cover;
    background-position: center;
    
  }

.container{
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 950px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
}

.welcome{
    grid-column: 1;
    display: grid;
    grid-template-rows: 10% 90%;
    align-items: center;
    justify-content: center;
    background-color: #38AC91;
    border-radius: 10px;
    width: 100%;
}

.textWelcomeContainer{
  grid-row: 2;
  justify-self: start;
  display: flex;
  flex-direction: column;
  
}

.whiteText{
    grid-row: 2;
    align-self: center;
    justify-self: center;
    color: white;
    font-family: 'Rubik';
    font-size: 15px;
}

#welcomeText{
    font-family: 'Rubik';
    font-size: 34px;
}


.logoApplication{
  grid-row: 1;
  width: 200px;
  padding-top: 20px;
}
 

.userLogin {
    grid-column: 2;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   


.loginInput{
    font-family: 'Rubik';
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}



  h2 {
    font-family: 'Rubik';
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-family: 'Rubik';
  }
  
  
  button {
    font-family: 'Rubik';
    margin-top: 10px;
    display: flex;
    background-color: #38AC91;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    background: #1c9478;
  }
  

 